
*{
    margin: 0px;
    padding: 0px;
}
@font-face
  {
    font-family: "fonte";
    src:url("../assests/fonts/Poppins-Regular.ttf");
  }
  body
  {
    font-family: "fonte";
  }
   a:hover
  {
    
    cursor: pointer;
    text-decoration: none;
  }
